.th1
    {
      background-color:white;
      color:black;
    }
.th2{
	 background-color:rgb(255,229,181);
     color:black;
}
.th3{
	 background-color:rgb(0,0,0);
     color:white;
}
.th4{
	 background-color:green;
     color:white;
}
.th5{
	 background-color:orange;
     color:white;
}
.th6{
	 background-color:red;
     color:white;
}
.th7{
	 background-color:blue;
     color:white;
}
.th8{
	 background-color:yellow;
     color:white;
}
.th9{
	 background-color:purple;
     color:white;
}
.th10{
	 background-color:gray;
     color:white;
}
